<div ng-submit="getInput()">
<h2>Your Terrible Poem</h2>

<div id="vogon3Container">
<img id="vogon3" src="images/vogons3.jpg" alt="vogon3";">
</div>

<p id="poemTitle"> 
Ode to a 
<span class = "noun">{{story.noun}}</span> 
of a <span class = "adj">{{story.adj}}</span> 
<span class = "noun2">{{story.noun2}}</span> 
</p>

<p>
<span class = "month">{{story.month}}</span>
<span class = "number">{{story.number}}</span> 

is the new day. 
</p>
<p>
It's in the season half way;
</p>
<p>
<span class = "noun">{{story.noun}}</span> 
<span class = "verb">{{story.verb}}</span>; 
</p>
<p>
from my <span class = "noun2">{{story.noun2}}</span> I must arise.
</p>
<p>
Must <span class = "adverb">{{story.adv}}</span>
<span class = "verb">{{story.verb}}</span> 
the
<span class = "noun2">{{story.noun2}}</span> 
and put on my guise.
</p>

</div>