<form ng-submit="setInput()">
  <fieldset>
    <legend>Create a Vogon Poem</legend>

    <img src="images/vogons2.jpg" alt="vogon2" style="width:40%;height:40%;">

    <p>
      <label for="month">Enter a month:</label>
      <input type="text" name="month" class="month" ng-model="words.month" placeholder="month" required="">
      
    </p>
    <p>
      <label for="noun">Enter a noun:</label>
      <input type="text" name="noun" class="noun" ng-model="words.noun" placeholder="noun" required=""> 
    </p>
    <p>
      <label for="noun2">Enter another noun:</label>
      <input type="text" name="noun2" class="noun2" ng-model="words.noun2" placeholder="noun2" required="">
    </p>
    <p>
      <label for="verb">Enter a verb:</label>
      <input type="text" name="verb" class="verb" ng-model="words.verb" placeholder="verb" required="">
    </p>
    <p>
      <label for="adj">Enter an adjective:</label>
      <input type="text" name="adj" class="adj" ng-model="words.adj" placeholder="adjective" required="">
    </p>
    <p>
      <label for="number">Enter a number from 1-31:</label>
      <input type="number" name="number" class="number" ng-model="words.number" placeholder="number" min=1, max=31>
    </p>
    <p>
      <label for="adverb">Enter an adverb:</label>
      <input type="text" name="adverb" class="adverb" ng-model="words.adv" placeholder="adverb" required="">
    </p>
    <p>
      <button type="submit">Recite your poem
      </button>
  </fieldset>
</form>