<form>
  <fieldset>
    <legend>Mad Libs Input</legend>
    <p>
      <label for="noun_1">Enter a noun:</label>
      <input type="text" name="noun_1" id="noun_1" ng-model="words.noun_1" placeholder="noun" required="">
      
    </p>
    <p>
      <label for="noun_2">Enter another noun:</label>
      <input type="text" name="noun_2" id="noun_2" ng-model="words.noun_2" placeholder="noun" required="">
      
    </p>
    <p>
      <label for="verb_1">Enter a verb:</label>
      <input type="text" name="verb_1" id="verb_1" ng-model="words.verb_1" placeholder="verb" required=""> 
    </p>
    <p>
      <label for="verb_2">Enter another verb:</label>
      <input type="text" name="verb_2" id="verb_2" ng-model="words.verb_2" placeholder="verb" required="">
    </p>
    <p>
      <label for="adj_1">Enter an adjective:</label>
      <input type="text" name="adj_1" id="adj_1" ng-model="words.adj_1" placeholder="adjective" required="">
    </p>
    <p>
      <label for="adj_2">Enter an adjective:</label>
      <input type="text" name="adj_2" id="adj_2" ng-model="words.adj_2" placeholder="adjective" required="">
    </p>
    <p>
      <label for="adverb_1">Enter an adverb:</label>
      <input type="text" name="adverb_1" id="adverb_1" ng-model="words.adv" placeholder="adverb" required="">
    </p>
    <p>
      <button type="button" ng-click="setInput()">Write your story
      </button>
  </fieldset>
</form>